services:
  mongo:
    image: mongo:7.0
    container_name: flowpay-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: flowpaydb
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: flowpay-backend
    ports:
      - "8000:8000"
    env_file: ./backend/.env
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - mongo
    command: npm run dev

  frontend:
    build: ./frontend
    container_name: flowpay-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://backend:8000/api
      - VITE_APP_ENV=development
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - backend
    command: npm run dev

volumes:
  mongo_data:
    driver: local
