services:
  # --------------------
  # MongoDB
  # --------------------
  mongo:
    image: mongo:7.0
    container_name: flowpay-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: flowpaydb
    volumes:
      - mongo_data:/data/db
    networks:
      - flowpay-network

  # --------------------
  # Backend
  # --------------------
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: flowpay-backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    networks:
      - flowpay-network
    volumes:
      - ./backend:/app
    command: sh -c "npm install && npm run dev"

  # --------------------
  # Frontend
  # --------------------
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: flowpay-frontend
    restart: always
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    networks:
      - flowpay-network
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev"

# --------------------
# Volumes
# --------------------
volumes:
  mongo_data:

# --------------------
# Network
# --------------------
networks:
  flowpay-network:
    driver: bridge
