@theme {
  /* ===================================
     BASE COLORS
  =================================== */
  --color-brand:        #0FB5BA; /* Primary red */
  --color-light:        #f9fafb; /* Light base */
  --color-dark:         #030712; /* Dark base */
  --color-neutral:      #767676; /* Mid neutral for both themes */

  /* ===================================
     TYPOGRAPHY
  =================================== */
  --font-body: "Inter", sans-serif;
}
